/* File: font.css */

@font-face {
    font-family: 'RobotoCondensed';
    src: local('RobotoCondensed'),
         url('./fonts/RobotoCondensed-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: local('RobotoCondensedBold'),
         url('./fonts/RobotoCondensed-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'RobotoCondensedBlackItalic';
    src: local('RobotoCondensedBlackItalic'),
         url('./fonts/RobotoCondensed-BlackItalic.ttf') format('truetype'),
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: local('RobotoLightItalic'),
         url('./fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),
}

@font-face {
    font-family: 'SoraBold';
    src: local('SoraBold'),
         url('./fonts/Sora-Bold.ttf') format('truetype'),
}