/* File: font.css */

@font-face {
    font-family: 'RobotoCondensed';
    src: local('RobotoCondensed'),
         url('./fonts/RobotoCondensed-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: local('RobotoCondensedBold'),
         url('./fonts/RobotoCondensed-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: local('RobotoCondensedItalic'),
         url('./fonts/RobotoCondensed-Italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'Sora';
    src: local('SoraRegular'),
         url('./fonts/Sora-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'SoraBold';
    src: local('SoraBold'),
         url('./fonts/Sora-Bold.ttf') format('truetype'),
}